{% extends "tournament/tournament_base.html" %}
{% load i18n %}

{% block content %}

{% if page %}
    {{ page.body|safe }}

    {% if is_tournament_admin %}
    <p><a class="btn" href="{% url "tournament-page-edit" page.slug %}">{% trans "Edit page" %}</a></p>
    {% endif %}
{% else %}
    <h1>{% blocktrans with name=tournament.name %}Welcome to {{ name }}{% endblocktrans %}</h1>
    <p>{% trans "No frontpage is configured for this tournament." %}</p>
{% endif %}

<div class="news-container">
{% for news_item in news_items %}
    <article class="news-container-small">
        <header>
            <h2><a href="{% url "tournament-news-item" news_item.slug %}">{{ news_item.title }}</a></h2>
            <p class="published">{% blocktrans with published=news_item.published %}Published on {{ published }}{% endblocktrans %}</p>
        </header>
        {{ news_item.introduction|safe }}
        <footer>
            <p><a href="{% url "tournament-news-item" news_item.slug %}">{% trans "Read more" %}</a></p>
        </footer>
    </article>
{% endfor %}
</div>

{% if is_tournament_admin %}
    <p><a class="btn create-news-button" href="{% url "tournament-news-create" %}">{% trans "Create news item" %}</a></p>
{% endif %}

{% endblock %}
