{% extends extends_tmpl %}
{% load i18n %}

{% block content %}
<h1>Players</h1>

<dl>
    <dt>{% trans "Players signed up" %}</dt>
    <dd>
        {{ tournament.tournamentplayer_set.count }}
    </dd>
    <dt>{% trans "Max player count" %}</dt>
    <dd>
        {{ tournament.max_players }}
        {% if tournament.wildcard_spots %}(-{{ tournament.wildcard_spots }} wildcard spots){% endif %}
    </dd>
    <dt>{% trans "Available spots" %}</dt>
    <dd>
        {{ tournament.get_available_spots }}
    </dd>
</dl>

{% if tournament.is_registration_open and tournament.is_registration_full %}
<div class="alert">
    This tournament has reached its max player capacity, and new registrations will
    be put on a waiting list.
</div>
{% endif %}

{% regroup tournament.tournamentplayer_set.all by player_class as player_list %}

<table class="table table-dotted table-striped player-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Division</th>
            <th>PDGA</th>
            <th>Rating</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for class in player_list %}
            {% if not forloop.first %}
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
            {% endif %}
            {% for tp in class.list %}
            <tr data-tournament-player-id="{{ tp.id }}">
                <td>
                    {{ tp.player.name }}
                </td>
                <td>
                    <img src="{{ tp.player.country.flag }}" />
                </td>
                <td>{{ tp.player_class.name }}</td>
                <td>
                    {% if tp.player.pdga_number %}
                    <a href="http://www.pdga.com/player-stats?PDGANum={{ tp.player.pdga_number }}">
                        {{ tp.player.pdga_number }}
                    </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ tp.player.pdga_rating }}</td>
                <td class="is_paid" data-is-paid="{% if tp.is_paid %}1{% else %}0{% endif %}">
                    {% if tp.is_paid %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% if tournament.is_registration_open and not is_embedded %}
<p><a href="{% url "tournament-registration" %}" class="btn btn-info">Register for {{ tournament.name }}</a></p>
{% endif %}

{% endblock %}

{% block endbody %}
{% if is_tournament_admin %}
<script>
$(function() {
    var set_paid_url = '{% url "tournament-ajax-update-player-paid" %}';
    var csrf_token = '{{ csrf.csrf_token }}';
    var cells = $('.player-table td.is_paid');

    cells.addClass('is_paid_admin');

    cells.bind('click', function(e) {
        e.preventDefault();

        var row = $(e.target).parents('tr');
        var id = row.data('tournamentPlayerId');
        var already_paid = $(e.target).data('isPaid');
        var new_paid_value = 1;

        if(already_paid) {
            new_paid_value = 0;
        }

        var data = {
            'tp_id': id,
            'is_paid': new_paid_value,
            'csrfmiddlewaretoken': csrf_token,
        };

        var xhr = $.ajax({
            url: set_paid_url,
            data: data,
            type: 'POST',
            dataType: 'json',
        });

        xhr.done(function(data, textStatus) {
            if (data.success) {
                if (new_paid_value > 0) {
                    var cell_content = 'Yes';
                } else {
                    var cell_content = 'No';
                }

                $(e.target).html(cell_content);
                $(e.target).data('isPaid', new_paid_value);
            } else {
                alert('Unable to update payment information.');
            }
        });

        xhr.fail(function(ajax, textStatus, error) {
            alert('Unable to update payment information.');
        });
    });
});
</script>
{% endif %}
{% endblock %}
