{% extends extends_tmpl %}
{% load i18n %}

{% block title %}{% blocktrans with name=tournament.name %}Player list - {{ name }}{% endblocktrans %}{% endblock %}


{% block content %}
<h1>{% trans "Players" %}</h1>

<dl>
    <dt>{% trans "Players signed up" %}</dt>
    <dd>
        {{ tournament.get_player_list_count }}
    </dd>
    <dt>{% trans "Max player count" %}</dt>
    <dd>
        {{ tournament.max_players }}
        {% if tournament.wildcard_spots %}(-{{ tournament.wildcard_spots }} wildcard spots){% endif %}
    </dd>
    <dt>{% trans "Available spots" %}</dt>
    <dd>
        {{ tournament.get_available_spots }}
        {% if tournament.get_waiting_list_count > 0 %}
        ({{ tournament.get_waiting_list_count }} on <a href="{% url "tournament-waiting-list" %}">waiting list</a>)
        {% endif %}
    </dd>
</dl>

{% if tournament.is_registration_open and tournament.is_registration_full %}
<div class="alert">
    {% trans "This tournament has reached its max player capacity, and new registrations will be put on the waiting list." %}
</div>
{% endif %}

<div class="ajax-status-bar" style="display: none;">
    <span class="label"></span>
</div>

{% regroup tournament.get_player_list by player_class as player_list %}

    {% for class in player_list %}

    <h3>{{ class.grouper }} ({{ class.list|length }})</h3>
    <table class="table table-dotted table-striped player-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th width="35%">{% trans "Name" %}</th>
                <th width="35%">{% trans "Club" %}</th>
                <th width="10%">{% trans "PDGA" %}</th>
                <th width="10%">{% trans "Rating" %}</th>
                <th width="10%">{% trans "Paid" %}</th>
                {% if is_tournament_admin %}
                <th>{% trans "Actions" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tp in class.list %}
            <tr data-tournament-player-id="{{ tp.id }}" class="{% if tp.is_waiting_list %}waiting-list{% endif %}">
                <td>
                    <img src="{{ tp.player.country.flag }}" />
                </td>
                <td>
                    {{ tp.player.name|truncatechars:50 }}
                </td>
                <td>
                    {% if tp.player.club %}
                        {{ tp.player.club|truncatechars:50 }}
                    {% else %}
                        {% trans "N/A" %}
                    {% endif %}
                </td>
                <td>
                    {% if tp.player.pdga_number %}
                    <a href="http://www.pdga.com/player-stats?PDGANum={{ tp.player.pdga_number }}">
                        {{ tp.player.pdga_number }}
                    </a>
                    {% else %}
                        {% trans "N/A" %}
                    {% endif %}
                </td>
                <td>
                    {% if tp.player.pdga_rating %}{{ tp.player.pdga_rating }}{% endif %}</td>
                <td class="is_paid" data-is-paid="{% if tp.is_paid %}1{% else %}0{% endif %}">
                    {% if tp.is_paid %}
                        {% trans "Yes" %}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                </td>

                {% if is_tournament_admin %}
                <td>
                    <div class="btn-group">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url "tournament-registration-edit" tp.id %}">{% trans "Edit this registration" %}</a>
                            </li>
                            <li>
                                <a href="{% url "tournament-player-edit" tp.id %}">{% trans "Edit this player" %}</a>
                            </li>
                            <li>
                                <a data-action="remove" href="#">{% trans "Delete from tournament" %}</a>
                            </li>
                        </ul>
                    </div>

                </td>
                {% endif %}
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endfor %}

{% if tournament.is_registration_open and not is_embedded %}
<p><a href="{% url "tournament-registration" %}" class="btn btn-info">{% blocktrans with name=tournament.name %}Register for {{ name }}{% endblocktrans %}</a></p>
{% endif %}

{% endblock %}

{% block endbody %}
{% if is_tournament_admin %}


<script src="{{ STATIC_URL }}tournament/js/status_bar.js"></script>
<script src="{{ STATIC_URL }}tournament/js/playeractions.js"></script>
<script>
$(function() {
    var config = {
        'action_url': '{% url "tournament-ajax-player-action" %}',
        'status_bar_container': $('.ajax-status-bar'),
        'lang': {
            'error': '{% trans "An error occured while trying to perform your action." %}',
            'error_message': '{% trans "An error occured:" %}',
            'remove_success': '{% trans "Player has been removed from the tournament." %}',
            'accept_success': '{% trans "Player has been accepted into the tournament." %}',
            'remove_trying': '{% trans "Trying to remove player from the tournament" %}',
            'accept_trying': '{% trans "Trying to accept player into the tournament" %}',
        }
    };
    var module = TOURNEY.module('playeractions');
    window.actionsmanager = new module.ActionsManager(config);
});

$(function() {
    var set_paid_url = '{% url "tournament-ajax-update-player-paid" %}';
    var csrf_token = '{{ csrf.csrf_token }}';
    var cells = $('.player-table td.is_paid');

    cells.addClass('is_paid_admin');

    cells.bind('click', function(e) {
        e.preventDefault();

        var row = $(e.target).parents('tr');
        var id = row.data('tournamentPlayerId');
        var already_paid = $(e.target).data('isPaid');
        var new_paid_value = 1;

        if(already_paid) {
            new_paid_value = 0;
        }

        var data = {
            'tp_id': id,
            'is_paid': new_paid_value,
            'csrfmiddlewaretoken': csrf_token,
        };

        var xhr = $.ajax({
            url: set_paid_url,
            data: data,
            type: 'POST',
            dataType: 'json',
        });

        xhr.done(function(data, textStatus) {
            if (data.success) {
                if (new_paid_value > 0) {
                    var cell_content = 'Yes';
                } else {
                    var cell_content = 'No';
                }

                $(e.target).html(cell_content);
                $(e.target).data('isPaid', new_paid_value);
            } else {
                alert('{% trans "Unable to update payment information." %}');
            }
        });

        xhr.fail(function(ajax, textStatus, error) {
            alert('{% trans "Unable to update payment information." %}');
        });
    });
});
</script>
{% endif %}
{% endblock %}
