{% extends extends_tmpl %}
{% load i18n %}

{% block endbody %}
<script src="{{ STATIC_URL }}tournament/js/registration.js"></script>
<script src="{{ STATIC_URL }}tournament/js/status_bar.js"></script>
<script>
$(function() {
    var config = {
        'delay': 750,
        'ajax_url': '{% url "tournament-ajax-check-pdga-number" %}',
        {% if tournament.registration_stages %}
        'stages': $.parseJSON('{{ tournament.get_stages_json|safe }}'),
        {% else %}
        'stages': false,
        {% endif %}
    };

    var registration_module = TOURNEY.module('registration');
    window.pdga = new registration_module.RegistrationPdga(config);

}); 
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Registration" %}</h1>


{% if tournament.registration_stages %}
<table class="table table-dotted registration-stages-table">
    <thead>
        <tr>
            <th>{% trans "Stage" %}</th>
            {% for class in tournament.classes.all %}
            <th>{{ class.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for stage in tournament.registrationstage_set.all %}
        <tr{% ifequal stage current_stage %} class="info"{% endifequal %}>
            <td>
                {% blocktrans with counter=forloop.counter opens=stage.opens|date:"d/m/Y H:i" %}Stage {{ counter }}, opens {{ opens }}{% endblocktrans %}</td>
            {% for stage_class in stage.registrationstageclass_set.all %}
            <td>
                {% ifequal 0 stage_class.rating_required %}
                    <i>{% trans "All" %}</i>
                {% else %}
                    {{ stage_class.rating_required }}
                {% endifequal %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<dl>
    <dt>{% trans "Available spots" %}</dt>
    <dd>
        {{ tournament.get_available_spots }}
        {% if tournament.get_available_spots == 0 %}
        {% blocktrans with count=tournament.get_waiting_list_count %}({{ count }} on waiting list){% endblocktrans %}
        {% endif %}
    </dd>
</dl>

{% if tournament.registration_info %}
<div class="alert">
    {{ tournament.registration_info }}
</div>
{% endif %}

{% if tournament.is_registration_open and tournament.is_registration_full %}
<div class="alert">
    {% trans "This tournament has reached its max player capacity, and new registrations will be put on a waiting list." %}
</div>
{% endif %}

{% if tournament.is_registration_open %}

{% if tournament.enable_payments %}
<p class="alert">{% trans "Payment is required upon registration. You will be forwarded to PayPal after registering and you can pay using your PayPal account or a regular creditcard." %}</p>
{% endif %}

<form method="post" action="{% if is_embedded %}{% url "tournament-registration-embed" %}{% else %}{% url "tournament-registration" %}{% endif %}">{% csrf_token %}
    {% include "tournament/bootstrap_form.html" %}
</form>
{% else %}
    {% if tournament.registration_stages %}
        <p>{% trans "No stage is open curently." %}</p>
    {% else %}
        {% if tournament.is_registration_finished %}
        <div class="alert alert-error">
            {% blocktrans with ends=tournament.registration_ends %}Registration for this tournament closed {{ ends }}{% endblocktrans %}
        </div>
        {% else %}
        <div class="alert">
            {% trans "Registration for this tournament has not opened yet." %}<br/>
            {% blocktrans with opens=tournament.registration_opens %}Registration opens on <strong>{{ opens }}</strong>{% endblocktrans %}
        </div>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}
