{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ tournament.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Load jQuery from CDN -->
        <script src="http://code.jquery.com/jquery.min.js"></script>

        <!-- Tourney dependencies -->
        <script src="{{ STATIC_URL }}tournament/js/tourney.js"></script>

        <!-- Load bootstrap from CDN -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

        <!-- App resources -->
        <link href="{{ STATIC_URL }}tournament/css/tournament.css" rel="stylesheet">

        {% if google_analytics_account %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ google_analytics_account }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}

        {% block endhead %}{% endblock %}
    </head>
    <body>

        {% block nav %}
        <div class="navbar navbar-inverse navbar-static-top top-nav-bar">
          <div class="navbar-inner">
            <div class="container top-nav-container">
                {% if tournament.header_image %}
                    <a href="{% url "tournament-index" %}"><img
                        class="header-image" src="{{ tournament.header_image.url }}" alt=""></a>
                {% endif %}
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="{% url "tournament-index" %}">{{ tournament.name }}</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{% url "tournament-registration" %}">{% trans "Registration" %}</a></li>
                  <li><a href="{% url "tournament-players" %}">{% trans "Players" %}</a></li>
                  {% for page in tournament_pages %}
                    <li><a href="{% url "tournament-page" page.slug %}">{{ page.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}

        <div class="container">
            <div class="row">
                <div class="{% if sidebar %}span8{% else %}span12{% endif %}">
                    {% block content %}{% endblock %}
                </div>

                {% if sidebar %}
                <div class="span3">
                    {{ sidebar.body|safe }}

                    {% if is_tournament_admin %}
                    <p style="margin-top: 2em;"><a class="btn" href="{% url "tournament-page-edit" sidebar.slug %}">Edit sidebar</a></p>
                    {% endif %}
                </div>
                {% endif %}
            </div>

        </div>

        {% block endbody %}{% endblock %}
    </body>
</html>
