{% extends "frontend/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Welcome to DiscTourney.com!" %}</h1>

<p>
{% blocktrans %}This page has been created to make it easier for disc golf clubs to host tournaments, and lets you host a complete homepage for the tournament, which includes registration, player lists, individual content pages with text and pictures, and more. The service is completely free.{% endblocktrans %}
</p>

<h3>{% trans "Tournaments hosted by DiscTourney.com" %}</h3>

{% include "frontend/tournament_list.html" %}

{% endblock %}
