{% extends extends_tmpl %}
{% load i18n %}

{% block title %}{% trans "Waiting list" %} - {{ tournament.name }}{% endblock %}

{% block endbody %}
<script src="{{ STATIC_URL }}tournament/js/status_bar.js"></script>
<script src="{{ STATIC_URL }}tournament/js/playeractions.js"></script>
<script>
$(function() {
    var config = {
        'action_url': '{% url "tournament-ajax-player-action" %}',
        'status_bar_container': $('.ajax-status-bar'),
        'lang': {
            'error': '{% trans "An error occured while trying to perform your action." %}',
            'error_message': '{% trans "An error occured:" %}',
            'remove_success': '{% trans "Player has been removed from the tournament." %}',
            'accept_success': '{% trans "Player has been accepted into the tournament." %}',
            'remove_trying': '{% trans "Trying to remove player from the tournament" %}',
            'accept_trying': '{% trans "Trying to accept player into the tournament" %}',
        }
    };
    var module = TOURNEY.module('playeractions');
    window.playeractions = new module.ActionsManager(config);
});
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Waiting list" %}</h1>

<dl>
    <dt>{% trans "Players signed up" %}</dt>
    <dd>
        <span class="updater-player-list-count">{{ tournament.get_player_list_count }}</span> 
        /
        <span class="updater-max-players">{{ tournament.max_players }}</span>
    </dd>
    <dt>{% trans "Wildcard spots" %}</dt>
    <dd>
        <span class="updater-wildcard-spots">
            {{ tournament.wildcard_spots }}
        </span>
    </dd>
    <dt>{% trans "Available spots" %}</dt>
    <dd>
        <span class="updater-available-spots">{{ tournament.get_available_spots }}</span>

        {% if tournament.get_waiting_list_count > 0 %}
        (<span class="updater-waiting-list-count">{{ tournament.get_waiting_list_count }}</span> {% trans "on waiting list" %})
        {% endif %}
    </dd>
</dl>

<div class="ajax-status-bar" style="display: none;">
    <span class="label"></span>
</div>

<table class="table table-dotted table-striped player-table">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Country" %}</th>
            <th>{% trans "Division" %}</th>
            <th>{% trans "PDGA" %}</th>
            <th>{% trans "Rating" %}</th>
            {% if is_tournament_admin %}
            <th>{% trans "Actions" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for tp in players %}
            <tr data-tournament-player-id="{{ tp.id }}">
                <td>{{ forloop.counter }}</td>
                <td>
                    {{ tp.player.name }}
                </td>
                <td>
                    <img src="{{ tp.player.country.flag }}" />
                </td>
                <td>{{ tp.player_class.name }}</td>
                <td>
                    {% if tp.player.pdga_number %}
                    <a href="http://www.pdga.com/player-stats?PDGANum={{ tp.player.pdga_number }}">
                        {{ tp.player.pdga_number }}
                    </a>
                    {% else %}
                        {% trans "N/A" %}
                    {% endif %}
                </td>
                <td>
                    {% if tp.player.pdga_rating %}{{ tp.player.pdga_rating }}{% endif %}
                </td>
                {% if is_tournament_admin %}
                <td>
                    <div class="btn-group">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url "tournament-registration-edit" tp.id %}">{% trans "Edit this registration" %}</a>
                            </li>
                            <li>
                                <a href="{% url "tournament-player-edit" tp.id %}">{% trans "Edit this player" %}</a>
                            </li>
                            <li>
                                <a data-action="remove" href="#">{% trans "Delete from tournament" %}</a>
                            </li>
                            <li>
                                <a data-action="accept" href="#">{% trans "Accept into tournament" %}</a>
                            </li>
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
