/* For the header to move down */
@media (min-width: 980px) {
    body {padding-top: 60px;}
}

.edit-page-form #id_title,
.edit-page-form #id_body {
    width: 500px;
}

.player-table {
    max-width: 700px;
}

.registration-stages-table {
    max-width: 700px;
}
