/* For the header to move down */
@media (min-width: 980px) {
    /*body {padding-top: 60px;}*/
}

html body .container {
    max-width: 980px;
}

.sidebar-wrapper {
    float: right;
}

.edit-page-form #id_title,
.edit-page-form #id_body {
    width: 500px;
}

.tournaments-table {
    max-width: 600px;
}

.player-table {
    max-width: 600px;
}

.registration-stages-table {
    max-width: 700px;
}

.news-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-container-small {
    margin-bottom: 20px;
}

.news-container-small h2 {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 3px;
}

.news-container-small footer p {
    font-size: 13px;
}

.news-container-small p.published {
    font-style: italic;
    font-size: 11px;
}

.create-news-button {
    margin-top: 30px;
}

.header-image {
    display: block;
}

.top-nav-bar {
    margin-bottom: 15px;
}

.top-nav-container {
    margin-top: 5px;
}

.is_paid_admin {
    color: #0088CC;
}

.is_paid_admin:hover {
    text-decoration: underline;
    cursor: pointer;
}

.player-table td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.player-table tr.waiting-list td {
    color: grey;
}
