{% extends "tournament/tournament_base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit registration" %} - {{ player.player.name }}{% endblock %}

{% block content %}

<h1>{% trans "Edit registration" %} {{ player.player.name }}</h1>

{% if form.errors %}
<div class="alert alert-error">
     {% trans "Please correct fields marked in red below and try again." %}
</div>
{% endif %}

<form method="post" action="{% url "tournament-registration-edit" player.id %}">{% csrf_token %}
    {% include "tournament/bootstrap_form.html" %}
</form>
{% endblock %}
